<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanZip"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CleanZip">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open a file from a file manager ("Open with") -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/vnd.rar" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/gzip" />
                <data android:mimeType="application/x-gzip" />
                <data android:mimeType="application/x-bzip2" />
                <data android:mimeType="application/x-xz" />
                <data android:mimeType="application/x-lzma" />
                <data android:mimeType="application/x-compress" />
                <data android:mimeType="application/x-cpio" />
                <data android:mimeType="application/x-archive" />
                <data android:mimeType="application/vnd.debian.binary-package" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- Share an archive into the app -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/vnd.rar" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/gzip" />
                <data android:mimeType="application/x-bzip2" />
                <data android:mimeType="application/x-xz" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>

</manifest>
